.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table>tbody>tr>.emptyrow {
    border-top: none;
}

.table>thead>tr>.emptyrow {
    border-bottom: none;
}

.table>tbody>tr>.highrow {
    border-top: 3px solid;
}

.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.small-box>.inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

.small-box p {
    font-size: 1rem;
}

.small-box .icon {
    color: #00000026;
    z-index: 0;
}

.icon {
    font-size: 47px;
    color: #5cb85c;
}

.fa-cart-shopping:before,
.fa-shopping-cart:before {
    content: "\f07a";
}

.small-box .icon>i.fa,
.small-box .icon>i.fab,
.small-box .icon>i.fad,
.small-box .icon>i.fal,
.small-box .icon>i.far,
.small-box .icon>i.fas,
.small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}